<div class="register-grid">
    <div class="input-group register">
      <input type="text" class="form-control" placeholder="Full name" ng-model="name">
      <input type="email" class="form-control" placeholder="Email" ng-model="email">
      <input type="text" class="form-control" placeholder="Username" ng-model="username">
      <input type="password" class="form-control" placeholder="Password" ng-model="password">
      <button type="submit" class="btn btn-info" ng-click="app.register(name, email, username, password)">Submit</button>
    </div>
</div>